mixin pagination    
    .pagination
        .wrap__dot
            .dot(onClick='slide("'+0+'")')
            span.titleDot Tuần Châu Marina
        .wrap__dot
            .dot(onClick='slide("'+1+'")')
            span.titleDot Chính sách ưu đãi
        .wrap__dot    
            .dot(onClick='slide("'+2+'")')
            span.titleDot Hội tựu tinh túy
        .wrap__dot    
            .dot(onClick='slide("'+3+'")')
            span.titleDot Chủ đầu tư dự án
        .wrap__dot    
            .dot(onClick='slide("'+4+'")')
            span.titleDot Thông tin dự án
        .wrap__dot    
            .dot(onClick='slide("'+5+'")')
            span.titleDot Vị trí đắc địa
        .wrap__dot   
            .dot(onClick='slide("'+6+'")')
            span.titleDot Đặc điểm nổi bật
        .wrap__dot        
            .dot(onClick='slide("'+7+'")')
            span.titleDot Tiện ích bên ngoài
        .wrap__dot        
            .dot(onClick='slide("'+8+'")')
            span.titleDot Tiện ích bên trong 
        .wrap__dot        
            .dot(onClick='slide("'+9+'")')
            span.titleDot Video giới thiệu
        .wrap__dot        
            .dot(onClick='slide("'+10+'")')    
            span.titleDot Đăng kí đầu tư
            
            